In [1]:
import pandas as pd

csvpath = "depression-ihme-vs-who.csv"

depression_df = pd.read_csv(csvpath)
depression_df.columns

depression_df.head(5)

,Entity,Code,Year,Share of population with depression (IHME) (%),Share of population with depression (WHO) (%),Total population (Gapminder)
0,Afghanistan,AFG,2016,4.404727,NaN,NaN
1,Albania,ALB,2016,2.450883,NaN,NaN
2,Algeria,DZA,2016,3.946200,NaN,NaN
3,American Samoa,ASM,2016,3.252115,NaN,NaN
4,Andean Latin America,NaN,2016,2.903733,NaN,NaN

In [2]:
#rename columns, delete extra columns with no data for 2016
depression_df = depression_df.rename(columns = {"Entity": "Country", "Share of population with depression (IHME) (%)": "Pop_w_depression", "Share of population with depression (WHO) (%)":"delete", "Total population (Gapminder)":"delete_me"})
del depression_df['delete']
del depression_df['delete_me']
depression_df.head()

                Country Code  Year  Pop_w_depression
0           Afghanistan  AFG  2016          4.404727
1               Albania  ALB  2016          2.450883
2               Algeria  DZA  2016          3.946200
3        American Samoa  ASM  2016          3.252115
4  Andean Latin America  NaN  2016          2.903733

In [3]:
#keep only 2016 data
depression2016_df = depression_df.loc[(
    depression_df["Year"] == 2016)]
depression2016_df.head()

                Country Code  Year  Pop_w_depression
0           Afghanistan  AFG  2016          4.404727
1               Albania  ALB  2016          2.450883
2               Algeria  DZA  2016          3.946200
3        American Samoa  ASM  2016          3.252115
4  Andean Latin America  NaN  2016          2.903733

In [4]:
#keep only 2015 data
depression2015_df = depression_df.loc[(
    depression_df["Year"] == 2015)]
depression2015_df.head()

                  Country Code  Year  Pop_w_depression
228           Afghanistan  AFG  2015          4.399010
229               Albania  ALB  2015          2.450237
230               Algeria  DZA  2015          3.934957
231        American Samoa  ASM  2015          3.250802
232  Andean Latin America  NaN  2015          2.899849

In [8]:
#rename columns in each df to reflect year before merging
depression_2yr_df = depression2015_df.rename(columns = {"Pop_w_depression": "2015_pop_w_depression"}) 

depression_2yr_df2 = depression2016_df.rename(columns = {"Pop_w_depression": "2016_pop_w_depression"}) 

#delete Year column because information is now in the depression column
del depression_2yr_df['Year']
del depression_2yr_df2['Year']

depression_2yr_df = pd.merge(depression_2yr_df, depression_2yr_df2, on="Country", how="outer")
del depression_2yr_df['Code_x']
del depression_2yr_df['Code_y']

depression_2yr_df.head()

depression_2yr_df.to_csv("Data_Sets/depression_by_country_2yr.csv")

In [9]:
#sorted 2015 by rate of depression
sort2015_df = depression2015_df.sort_values('Pop_w_depression', ascending = False)
sort2015_df.head()
sort2015_df.to_csv("Data_Sets/depression_2015.csv")

In [10]:
#sorted 2016 by rate of depression
sort2016_df = depression2016_df.sort_values('Pop_w_depression', ascending = False)
sort2016_df.head()
sort2016_df.to_csv("Data_Sets/depression_2016.csv")

In [11]:
avg_rate_dep_2015 = sort2015_df['Pop_w_depression'].mean()
print(f"average depression rate by country 2015 = {avg_rate_dep_2015}")

average depression rate by country 2015 = 3.8341030101271936

In [12]:
avg_rate_dep_2016 = sort2016_df['Pop_w_depression'].mean()
print(f"average depression rate by country 2016 = {avg_rate_dep_2016}")

average depression rate by country 2016 = 3.8330719539298257