In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from datetime import datetime
from datetime import timedelta

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

In [2]:
file_to_load = "Data_Sets/Cities_input.csv"

# Read Purchasing File and store into Pandas data frame
cities_df = pd.read_csv(file_to_load)
cities_df.drop(labels=["Unnamed: 0", "Country Code", "Happiness Rank 2016"], axis=1, inplace=True)

cities_df.head(500)

          Country   Latitude   Longitude
0         Denmark  56.263920    9.501785
1     Switzerland  46.818188    8.227512
2         Iceland  64.963051  -19.020835
3          Norway  60.472024    8.468946
4         Finland  61.924110   25.748151
5          Canada  56.130366 -106.346771
6     Netherlands  52.132633    5.291266
7     New Zealand -40.900557  174.885971
8       Australia -25.274398  133.775136
9          Sweden  60.128161   18.643501
10           Peru  -9.189967  -75.015152
11   Turkmenistan  38.969719   59.556278
12      Mauritius -20.348404   57.552152
13          Libya  26.335100   17.228331
14         Latvia  56.879635   24.603189
15         Cyprus  35.126413   33.429859
16       Paraguay -23.442503  -58.443832
17        Romania  45.943161   24.966760
18        Estonia  58.595272   25.013607
19        Jamaica  18.109581  -77.297508
20        Burundi  -3.373056   29.918886
21          Syria  34.802075   38.996815
22           Togo   8.619543    0.824782
23    Afghanistan  33.939110   67.709953
24          Benin   9.307690    2.315834
25         Rwanda  -1.940278   29.873888
26         Guinea   9.945587   -9.696645
27        Liberia   6.428055   -9.429499
28       Tanzania  -6.369028   34.888822
29     Madagascar -18.766947   46.869107
30  United States  37.090240  -95.712891

In [4]:
# lat = (46.23,42.3,-14.23)
# lon = (2.21,43.35,-51.92)
# lat_lon = zip(lat, lon)
months = ('01','02','03','04','05','06','07','08','09','10','11','12')

base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?"

country_list = []
lat_lon_list = []
lat_list = []
lon_list = []
month_list = []
date = []
sunrise = []
sunset = []
temp = []
cloud = []
sunhours = []
sunminutes = []
sunlight = []

for row in cities_df.itertuples():
    country = row[1]
    lat = row[2]
    lon = row[3]

# for lat_lon in lat_lon:
    
    for month in months:
        
        firstday = '2016-' + str(month) + '-01'
        if month == "01" or month == "03" or month == "05" or month == "07" or month == "08" or month == "10" or month == "12":
            lastday = '2016-' + str(month) + '-31'
        elif month == "04" or month == "06" or month == "09" or month == "11":
            lastday = '2016-' + str(month) + '-30'
        elif month == "02":
            lastday = '2016-' + str(month) + '-29'
        query_url = base_url + "key=" + api_key + "&q=" + str(lat) +"," + str(lon) + "&date=" + firstday + "&enddate=" + lastday + "&tp=24&format=json"

        try:
            weather_response = requests.get(query_url)
            weather_json = weather_response.json()
            time.sleep(1.1)

            for i in np.arange(len(weather_json['data']['weather'])):                

                lat_lon_list.append(weather_json['data']['request'][0]['query'])
                lat_list.append(lat)
                lon_list.append(lon)
                month_list.append(month)
                country_list.append(country)

                date.append(weather_json['data']['weather'][i]['date'])
                sunrise.append(weather_json['data']['weather'][i]['astronomy'][0]['sunrise'])

                temp.append(int((weather_json['data']['weather'][i]['hourly'][0]['tempF'])))
                cloud.append(int(weather_json['data']['weather'][i]['hourly'][0]['cloudcover']))

                h_sunrise = ((weather_json['data']['weather'][i]['astronomy'][0]['sunrise']).split(":"))
                m_sunrise = (h_sunrise[1].split(" AM"))
                t1 = h_sunrise[0] + ":" + m_sunrise[0] 

                sunset_aux = (weather_json['data']['weather'][i]['astronomy'][0]['sunset'])

                if sunset_aux == "No sunset":
                    sunset_time = prev_sunset 
                else:
                    sunset_time = (weather_json['data']['weather'][i]['astronomy'][0]['sunset'])
                    prev_sunset = (weather_json['data']['weather'][i]['astronomy'][0]['sunset'])

                sunset.append(sunset_time)

                h_sunset = (sunset_time.split(":"))

                m_sunset = (h_sunset[1].split(" "))

                if m_sunset[1] == "PM":
                    if h_sunset[0] == "01":
                        t2 = "13" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "02":
                        t2 = "14" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "03":
                        t2 = "15" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "04":
                        t2 = "16" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "05":
                        t2 = "17" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "06":
                        t2 = "18" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "07":
                        t2 = "19" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "08":
                        t2 = "20" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "09":
                        t2 = "21" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "10":
                        t2 = "22" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "11":
                        t2 = "23" + ":" + m_sunset[0] 
                    elif h_sunset[0] == "12":
                        t2 = "24" + ":" + m_sunset[0] 
                elif m_sunset[1] == "AM":
                    t2 = "23" + ":" + m_sunset[0]
                    if h_sunset[0] == "12":
                        hours_to_add = 1  
                    else:
                        hours_to_add = int(h_sunset[0]) + 1

                    hours_to_add_str = str(hours_to_add)
                FMT = '%H:%M'
                tdelta = datetime.strptime(t2, FMT) - datetime.strptime(t1, FMT)
                if m_sunset[1] == "AM":
                    tdelta += timedelta(hours=hours_to_add)

                sunhours.append(tdelta)
                tdelta_str = str(tdelta)

                hm_tdelta_str = (tdelta_str.split(":"))

                h_tdelta = int(hm_tdelta_str[0])
                m_tdelta = int(hm_tdelta_str[1])

                sunhours_minutes = (h_tdelta * 60) + m_tdelta
                sunminutes.append(sunhours_minutes)

                minutes_sunlight = sunhours_minutes - (sunhours_minutes * int((weather_json['data']['weather'][i]['hourly'][0]['cloudcover'])) / 100)
                sunlight.append(minutes_sunlight)
            
        except Exception as e:
            print(e)
            print(query_url)

In [5]:
weather_dict = {
    "LatLon": lat_lon_list,
    "Lat": lat_list,
    "Lon": lon_list,
    "Country": country_list,
    "Month": month_list,
    "Date": date,
    "Sunrise": sunrise,
    "Sunset": sunset,
    "Temp": temp,
    "Cloud": cloud,
    "Sunhours": sunhours,
    "Sunminutes": sunminutes,
    "Sunlight": sunlight,
}
        
weather_data = pd.DataFrame(weather_dict)
# weather_data.count()

In [6]:
weather_data.head(500)

,LatLon,Lat,Lon,Country,Month,Date,Sunrise,Sunset,Temp,Cloud,Sunhours,Sunminutes,Sunlight
0,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-01,08:55 AM,03:56 PM,41,69,07:01:00,421,130.51
1,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-02,08:55 AM,03:57 PM,37,99,07:02:00,422,4.22
2,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-03,08:54 AM,03:58 PM,27,35,07:04:00,424,275.60
3,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-04,08:54 AM,04:00 PM,30,11,07:06:00,426,379.14
4,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-05,08:54 AM,04:01 PM,31,30,07:07:00,427,298.90
5,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-06,08:53 AM,04:02 PM,29,83,07:09:00,429,72.93
6,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-07,08:52 AM,04:04 PM,30,96,07:12:00,432,17.28
7,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-08,08:52 AM,04:05 PM,33,97,07:13:00,433,12.99
8,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-09,08:51 AM,04:07 PM,35,96,07:16:00,436,17.44
9,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-10,08:50 AM,04:09 PM,35,98,07:19:00,439,8.78
10,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-11,08:49 AM,04:10 PM,37,100,07:21:00,441,0.00
11,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-12,08:48 AM,04:12 PM,38,100,07:24:00,444,0.00
12,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-13,08:47 AM,04:14 PM,33,99,07:27:00,447,4.47
13,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-14,08:46 AM,04:15 PM,35,78,07:29:00,449,98.78
14,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-15,08:45 AM,04:17 PM,31,98,07:32:00,452,9.04
15,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-16,08:44 AM,04:19 PM,28,95,07:35:00,455,22.75
16,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-17,08:43 AM,04:21 PM,27,22,07:38:00,458,357.24
17,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-18,08:42 AM,04:23 PM,31,66,07:41:00,461,156.74
18,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-19,08:40 AM,04:25 PM,32,45,07:45:00,465,255.75
19,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-20,08:39 AM,04:27 PM,28,19,07:48:00,468,379.08
20,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-21,08:38 AM,04:29 PM,25,30,07:51:00,471,329.70
21,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-22,08:36 AM,04:31 PM,29,63,07:55:00,475,175.75
22,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-23,08:35 AM,04:33 PM,35,95,07:58:00,478,23.90
23,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-24,08:33 AM,04:35 PM,43,100,08:02:00,482,0.00
24,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-25,08:31 AM,04:37 PM,45,98,08:06:00,486,9.72
25,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-26,08:30 AM,04:39 PM,44,85,08:09:00,489,73.35
26,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-27,08:28 AM,04:42 PM,48,96,08:14:00,494,19.76
27,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-28,08:26 AM,04:44 PM,42,79,08:18:00,498,104.58
28,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-29,08:24 AM,04:46 PM,46,88,08:22:00,502,60.24
29,Lat 56.26 and Lon 9.50,56.263920,9.501785,Denmark,01,2016-01-30,08:23 AM,04:48 PM,42,83,08:25:00,505,85.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-14,05:41 AM,07:15 PM,42,58,13:34:00,814,341.88
471,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-15,05:39 AM,07:16 PM,48,54,13:37:00,817,375.82
472,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-16,05:38 AM,07:17 PM,49,62,13:39:00,819,311.22
473,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-17,05:36 AM,07:19 PM,44,89,13:43:00,823,90.53
474,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-18,05:34 AM,07:20 PM,32,95,13:46:00,826,41.30
475,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-19,05:32 AM,07:22 PM,39,71,13:50:00,830,240.70
476,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-20,05:30 AM,07:23 PM,56,6,13:53:00,833,783.02
477,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-21,05:29 AM,07:24 PM,62,10,13:55:00,835,751.50
478,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-22,05:27 AM,07:26 PM,46,84,13:59:00,839,134.24
479,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-23,05:25 AM,07:27 PM,42,97,14:02:00,842,25.26
480,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-24,05:23 AM,07:28 PM,28,80,14:05:00,845,169.00
481,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-25,05:22 AM,07:30 PM,30,82,14:08:00,848,152.64
482,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-26,05:20 AM,07:31 PM,37,55,14:11:00,851,382.95
483,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-27,05:18 AM,07:33 PM,28,55,14:15:00,855,384.75
484,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-28,05:17 AM,07:34 PM,36,32,14:17:00,857,582.76
485,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-29,05:15 AM,07:35 PM,42,28,14:20:00,860,619.20
486,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,04,2016-04-30,05:13 AM,07:37 PM,45,51,14:24:00,864,423.36
487,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-01,05:12 AM,07:38 PM,33,99,14:26:00,866,8.66
488,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-02,05:10 AM,07:39 PM,37,95,14:29:00,869,43.45
489,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-03,05:09 AM,07:41 PM,42,66,14:32:00,872,296.48
490,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-04,05:07 AM,07:42 PM,42,16,14:35:00,875,735.00
491,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-05,05:06 AM,07:43 PM,49,2,14:37:00,877,859.46
492,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-06,05:04 AM,07:44 PM,55,2,14:40:00,880,862.40
493,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-07,05:03 AM,07:46 PM,56,4,14:43:00,883,847.68
494,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-08,05:01 AM,07:47 PM,56,8,14:46:00,886,815.12
495,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-09,05:00 AM,07:48 PM,58,34,14:48:00,888,586.08
496,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-10,04:58 AM,07:50 PM,58,43,14:52:00,892,508.44
497,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-11,04:57 AM,07:51 PM,57,48,14:54:00,894,464.88
498,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-12,04:56 AM,07:52 PM,45,89,14:56:00,896,98.56
499,Lat 46.82 and Lon 8.23,46.818188,8.227512,Switzerland,05,2016-05-13,04:54 AM,07:53 PM,42,83,14:59:00,899,152.83

In [7]:
grouped_weather_month = weather_data.groupby(["Lat","Lon","Country","Month"])

sunlight_summary = grouped_weather_month["Sunlight"].sum()
avarage_temp = grouped_weather_month["Temp"].mean()
avarage_cloud = grouped_weather_month["Cloud"].mean()

grouped_weather_month_df = pd.DataFrame({"Sunlight": sunlight_summary,
                         "Temp":avarage_temp,
                         "Cloud":avarage_cloud})

grouped_weather_month_df.head(500)

                                          Sunlight        Temp      Cloud
Lat        Lon         Country     Month
-40.900557  174.885971 New Zealand 01     16091.29   71.645161  41.258065
                                   02     17140.96   76.137931  28.172414
                                   03     15806.25   72.193548  31.064516
                                   04     14185.36   67.333333  27.966667
                                   05      9276.52   64.064516  49.161290
                                   06     10036.56   60.233333  40.033333
                                   07     11115.12   57.612903  37.451613
                                   08     12199.35   55.419355  38.096774
                                   09      9476.98   57.733333  55.666667
                                   10     13879.93   61.000000  43.580645
                                   11     12793.63   63.833333  50.766667
                                   12     17693.80   67.354839  36.806452
-25.274398  133.775136 Australia   01     19676.31   94.451613  21.741935
                                   02     20632.42   96.827586   8.413793
                                   03     19314.86   93.387097  15.032258
                                   04     18922.01   88.166667   8.433333
                                   05     14759.62   76.870968  27.032258
                                   06     14158.02   69.200000  25.700000
                                   07     17150.55   68.129032  14.161290
                                   08     17992.26   71.516129  13.870968
                                   09     17207.99   75.433333  19.933333
                                   10     21933.08   85.741935   7.000000
                                   11     20965.35   93.500000  12.733333
                                   12     17089.79   93.161290  32.838710
-23.442503 -58.443832  Paraguay    01     18813.81  105.161290  24.516129
                                   02     14100.25   99.482759  37.103448
                                   03     17293.45   95.612903  23.838710
                                   04     14174.22   91.766667  31.700000
                                   05     10320.53   76.193548  49.483871
                                   06     13370.23   73.600000  30.633333
...                                            ...         ...        ...
 60.472024  8.468946   Norway      07     18456.13   58.225806  45.161290
                                   08     15303.14   56.096774  47.193548
                                   09     13940.95   55.633333  39.866667
                                   10      9169.31   37.451613  52.322581
                                   11      5070.32   23.933333  60.933333
                                   12      6148.43   28.709677  43.645161
 61.924110  25.748151  Finland     01      1583.02   12.354839  86.387097
                                   02      1461.88   30.413793  90.310345
                                   03      3186.10   34.774194  86.129032
                                   04      7265.72   46.433333  72.766667
                                   05     19165.18   64.129032  41.483871
                                   06     16757.52   66.466667  52.233333
                                   07     15363.18   69.032258  55.032258
                                   08     12342.24   65.677419  58.258065
                                   09     10424.71   58.233333  55.533333
                                   10      5366.53   42.322581  72.483871
                                   11      1303.97   33.166667  89.533333
                                   12      2011.86   31.258065  79.903226
 64.963051 -19.020835  Iceland     01      5421.87   22.000000  43.225806
                                   02      8260.84   20.034483  44.137931
                                   03     11999.25   29.483871  46.064516
                                   04     15861.68   33.133333  42.433333
                                   05     18420.56   36.709677  47.709677
                                   06     21827.54   44.900000  43.866667
                                   07     18629.72   44.516129  49.838710
                                   08     15298.15   43.354839  49.967742
                                   09     10310.65   39.533333  55.500000
                                   10      7248.08   40.225806  59.354839
                                   11      4314.04   30.600000  61.066667
                                   12      2484.32   32.451613  65.774194

[372 rows x 3 columns]

In [8]:
grouped_weather_year = weather_data.groupby(["Lat","Lon","Country"])

sunlight_summary = grouped_weather_year["Sunlight"].sum()
avarage_temp = grouped_weather_year["Temp"].mean()
avarage_cloud = grouped_weather_year["Cloud"].mean()

grouped_weather_year_df = pd.DataFrame({"Sunlight": sunlight_summary,
                         "Temp":avarage_temp,
                         "Cloud":avarage_cloud})

grouped_weather_year_df.head(500)

                                       Sunlight       Temp      Cloud
Lat        Lon         Country
-40.900557  174.885971 New Zealand    159695.75  64.508197  40.027322
-25.274398  133.775136 Australia      219802.26  83.819672  17.295082
-23.442503 -58.443832  Paraguay       192907.23  91.792350  27.598361
-20.348404  57.552152  Mauritius      119776.00  80.546448  54.882514
-18.766947  46.869107  Madagascar     178899.53  75.622951  32.445355
-9.189967  -75.015152  Peru           167880.94  97.300546  36.756831
-6.369028   34.888822  Tanzania       189145.42  87.420765  28.808743
-3.373056   29.918886  Burundi        200225.05  77.581967  24.683060
-1.940278   29.873888  Rwanda         196299.87  82.538251  26.207650
 6.428055  -9.429499   Liberia        135404.54  91.740437  48.874317
 8.619543   0.824782   Togo           189687.35  96.349727  28.278689
 9.307690   2.315834   Benin          183734.46  97.557377  30.469945
 9.945587  -9.696645   Guinea         193411.69  98.188525  26.939891
 18.109581 -77.297508  Jamaica        161354.25  89.387978  39.368852
 26.335100  17.228331  Libya          244992.11  88.773224   8.576503
 33.939110  67.709953  Afghanistan    231577.56  52.568306  13.912568
 34.802075  38.996815  Syria          239481.90  82.953552  11.286885
 35.126413  33.429859  Cyprus         227207.19  82.275956  16.218579
 37.090240 -95.712891  United States  150707.45  70.841530  44.032787
 38.969719  59.556278  Turkmenistan   221204.67  73.866120  18.551913
 45.943161  24.966760  Romania        156474.42  61.653005  43.338798
 46.818188  8.227512   Switzerland    148603.34  47.188525  44.079235
 52.132633  5.291266   Netherlands    126326.55  58.428962  53.800546
 56.130366 -106.346771 Canada         103660.63  43.278689  63.978142
 56.263920  9.501785   Denmark        107237.95  54.505464  62.248634
 56.879635  24.603189  Latvia         123432.03  51.972678  59.915301
 58.595272  25.013607  Estonia        109344.07  49.185792  64.778689
 60.128161  18.643501  Sweden         133907.62  48.472678  55.267760
 60.472024  8.468946   Norway         138585.03  40.010929  50.374317
 61.924110  25.748151  Finland         96231.91  46.221311  69.920765
 64.963051 -19.020835  Iceland        140076.70  34.800546  50.781421

In [9]:
grouped_weather_month_df.to_csv("output_data/weather_month.csv")

In [10]:
grouped_weather_year_df.to_csv("output_data/weather_year.csv")